---
import { Icon } from "astro-icon";
import * as CONTENT from '../pages/content'
const { item } = Astro.props
let badgeBackground, badgeColor, badgeIcon
CONTENT.TECH_BADGES.map((mark: any) => {
    if (mark.title == item) {
    badgeBackground = mark.background
    badgeColor = mark.color
    badgeIcon = mark.icon
    }
})
const badge_style = "background-color: "+badgeBackground+"; color: "+badgeColor+";"
---
<div class="tech-badge w-20" title={item} data-tooltip-placement="top" style={badge_style}>
    <Icon name={badgeIcon} class="object-cover w-full h-full rounded-full"/> 
</div>